<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <div>
      <img class="topimg"  src="../img/bagan-1137015_1280resize.jpg">
      <h1>Bold Move</h1>
    </div>
    <h3>~About Us~</h3>
    
    <div class="bioBox">
      <img src="img/" alt="Brent Woodward">
      <h2>Brent Woodward</h2>
      <p>Something about you</p>
      <a href="linkedin.com " target="_blank">LinkedIn</a>
      <a href="github.com" target="_blank">GitHub</a>
      <a href="mailto:">Email</a>
    </div>
    
    <div class="bioBox">
      <img src="img/" alt="Daniel Ulie">
      <h2>Daniel Ulie</h2>
      <p> Something about you</p>      
      <a href="linkedin.com " target="_blank">LinkedIn</a>
      <a href="github.com" target="_blank">GitHub</a>
      <a href="mailto:">Email</a>
    </div>
    
    <div class="bioBox">
      <img src="img/" alt="Dev Shrestha">
      <h2>Dev Shrestha</h2>
      <p> Something about you</p>      
      <a href="linkedin.com " target="_blank">LinkedIn</a>
      <a href="github.com" target="_blank">GitHub</a>
      <a href="mailto:">Email</a>
    </div>

    <div class="bioBox">
      <img src="./img/Julie.jpg" alt="Julie Ly">
      <h2>Julie Ly</h2>
      <p> Something about you</p>      
      <a href="www.linkedin.com/in/julie-ly-" target="_blank"> LinkedIn</a>
      <a href="https://github.com/JulieLy8619" target="_blank">GitHub</a>
      <a href="mailto:july8619@yahoo.com">Email</a>
    </div>

  <footer> <%- include('../layout/footer.ejs') %> </footer>
  </body>
</html>