<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>

    <h3>~About Us~</h3>
    <div id="aboutContainer">
      <div class="bioBox">
        <img src="img/" alt="Brent Woodward">
        <h4>Brent Woodward</h4>
        <p></p>
        <a href="linkedin.com " target="_blank">LinkedIn</a>
        <a href="github.com" target="_blank">GitHub</a>
        <a href="mailto:">Email</a>
      </div>
      
      <div class="bioBox">
        <img src="img/" alt="Daniel Ulie">
        <h4>Daniel Ulie</h4>
        <p></p>      
        <a href="linkedin.com " target="_blank">LinkedIn</a>
        <a href="github.com" target="_blank">GitHub</a>
        <a href="mailto:">Email</a>
      </div>
      
      <div class="bioBox">
        <img src="img/" alt="Dev Shrestha">
        <h4>Dev Shrestha</h4>
        <p></p>      
        <a href="linkedin.com " target="_blank">LinkedIn</a>
        <a href="github.com" target="_blank">GitHub</a>
        <a href="mailto:">Email</a>
      </div>

      <div class="bioBox">
        <img src="./img/Julie.jpg" alt="Julie Ly">
        <h4>Julie Ly</h4>
        <p></p>      
        <a href="www.linkedin.com/in/julie-ly-" target="_blank"> LinkedIn</a>
        <a href="https://github.com/JulieLy8619" target="_blank">GitHub</a>
        <a href="mailto:july8619@yahoo.com">Email</a>
      </div>
    </div>
  <footer> <%- include('../layout/footer.ejs') %> </footer>
  </body>
</html>