<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>

    <h3>~About Us~</h3>
    <div id="aboutContainer">
      <div class="bioBox">
        <img src="./img/Brent.jpg" alt="Brent Woodward">
        <h4>Brent Woodward</h4>
        <p></p>
        <a href="https://www.linkedin.com/in/brenton-woodward/" target="_blank">LinkedIn</a>
        <a href="https://github.com/BrentTech" target="_blank">GitHub</a>
        <a href="mailto:Brent.Woodward.1@gmail.com">Email</a>
      </div>
      
      <div class="bioBox">
        <img src="./img/Dan.jpg" alt="Daniel Ulie">
        <h4>Daniel Ulie</h4>
        <p></p>      
        <a href="https://www.linkedin.com/in/daniel-ulie-109a3956/" target="_blank">LinkedIn</a>
        <a href="https://github.com/dules12" target="_blank">GitHub</a>
        <a href="mailto:danielulie92@gmail.com">Email</a>
      </div>
      
      <div class="bioBox">
        <img src="./img/dev_boldMove.JPG" alt="Dev Shrestha">
        <h4>Dev Shrestha</h4>
        <p></p>      
        <a href="https://www.linkedin.com/in/dev-shrestha" target="_blank">LinkedIn</a>
        <a href="https://github.com/dev-pasa" target="_blank">GitHub</a>
        <a href="mailto:dev.shrestha025@gmail.com">Email</a>
      </div>

      <div class="bioBox">
        <img src="./img/Julie.jpg" alt="Julie Ly">
        <h4>Julie Ly</h4>
        <p></p>      
        <a href="https://www.linkedin.com/in/julie-ly-" target="_blank"> LinkedIn</a>
        <a href="https://github.com/JulieLy8619" target="_blank">GitHub</a>
        <a href="mailto:july8619@yahoo.com">Email</a>
      </div>
    </div>
  <footer> <%- include('../layout/footer.ejs') %> </footer>
  </body>
</html>