<!DOCTYPE html>
<html>
    <head>
      <%- include('../layout/head') %>
    </head>
<body>
    <header>
      <%- include('../layout/header') %>
    </header>

  <main>
    <h3>~Currency~</h3>
    <div class = '' id=""></div>
    <p> To help you more with your travel plans, let's check the value of dollar in local currency. </p>
        <form action="/currency" method="POST">          
          <input class = "" type="number" min="0" placeholder = "$ Input Dollar Amount " name = "currencyReturn" id="amount-input"/>                
            <fieldset >
                  <button type= 'submit' id="search-button">Click Here to Convert Your Dollar to Local Currency</button>
            </fieldset>
        </form>

    </div>


    </div>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>
</html>