<!DOCTYPE html>
<html>
    <head>
      <%- include('../layout/head') %>
    </head>
<body>
    <header>
      <%- include('../layout/header') %>
    </header>
 <h3>~Currency Converter~</h3>
    <main>
    <div class = '' id=""></div>
    
    <h1>So, this is how much your dollar amount is worth when converting to local currency.</h1> 
    <p style="font-size:50px;"><%= resultShow %></p>
    
    </main>
  <footer> <%- include('../layout/footer.ejs') %> </footer>

</body>
</html>