<!DOCTYPE html>
<html>
    <head>
      <%- include('../layout/head') %>
    </head>
<body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <div>
        <img class="topimg" src="../img/bagan-1137015_1280resize2.jpg">
        <h1>Bold Move</h1>
    </div>
    <h3>~Currency Converter~</h3>
  <main>
    <div>
        <form action="/currency" method="POST">          
            <fieldset id="currencyForm">
                <input class = "" type="number" placeholder = "$ Dollar Amount" name = "currencyReturn"/>                
                <button class="generalButton" type= 'submit'>Submit</button>
            </fieldset>
        </form>
    </div>
  </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>
</html>