<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <div>
      <img class="topimg" src="../img/bagan-1137015_1280resize2.jpg">
      <h1>Bold Move</h1>
    </div>
    <h3>~Location~</h3>
    <p>We are trying to help the nomads who have decided to move their heards to new destination.</p>
    <p>We want to make it easier for these nomads to find the right information that will make it easier for their survival.</p>
    <form action="/location" method="POST">
      <fieldset>
        <label>
          <span>Please enter a location: </span>
          <input type="text" name="city" id="search-input" required>
        </label>
        <button type="submit" id="search-button">Make your move!</button>
      </fieldset>
    </form>
    <footer> <%- include('../layout/footer.ejs') %> </footer>
  </body>
</html>