<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <div>
      <img class="topimg" src="../img/bagan-1137015_1280resize2.jpg">
      <h1>Bold Move</h1>
    </div>
    <h3>~Location~</h3>
    <p>On your next trip let us be your one stop shop for everything food, weather, currency, translation & More. </p>
    <p>Simply enter a city anywhere around the world and go forth!</p>
    <form action="/location" method="POST">
      <fieldset>
        <label>
          <span>Please enter a location: </span>
          <input type="text" name="city" id="search-input" required>
        </label>
        <button type="submit" id="search-button">Make your move!</button>
      </fieldset>
    </form>
    <footer> <%- include('../layout/footer.ejs') %> </footer>
  </body>
</html>