<!DOCTYPE html>
<html>
<head>
  <title>Bold Move</title>
</head>
<body>
  <h1>Bold Move</h1>
  <h3>~Home~</h3>
  <form action="/location" method="post">
    <fieldset>
      <label>
        <span>Please enter a location: </span>
        <input type="text" name="city" id="search-input" required>
      </label>
      <button type="submit" id="search-button">Make your move!</button>
    </fieldset>
  </form>
  <!-- <footer> <%- include('../layout/footer.ejs') %> </footer> -->
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>