<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <div>
      <img class="topimg" src="../img/bagan-1137015_1280resize.jpg">
      <h1>Bold Move</h1>
    </div>
    <h3>~Menu~</h3>
    <form action="/currency" method="get">
      <button >Currency Converter</button>
    </form>
    <form action="/weather" method="get">
      <button>Weather Forecast</button>
    </form>
    <form action="/yelp" method="get">
      <button>Near Me</button>
    </form>
    <form action="/translate" method="GET">
      <button type="submit">Translator</button>
    </form>
    <form action="/aboutus" method="get">
      <button>About Team DJDB</button>
    </form>
    <footer> <%- include('../layout/footer.ejs') %> </footer>
  </body>
</html>