<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bold Move</title>
</head>
<body>
    <h1>Bold Move</h1>
  <h3>~Menu~</h3>

  <form action="/currencyForm" method="post">
    <button >Currency Converter</button>
  </form>
  <form action="/weather" method="get">
    <button>Weather Forecast</button>
  </form>
  <form action="/yelp" method="get">
    <button>Near Me</button>
  </form>
  <form action="/translatePage" method="GET">
    <button type="submit">Translator</button>
  </form>
</body>
</html>