<!DOCTYPE html>
<html>
    <head>
      <%- include('../layout/head') %>
    </head>
<body>
    <header>
      <%- include('../layout/header') %>
    </header>

  <main>
    <div class = '' id=""></div>
        <form action="/translate" method="POST">
          
          <input class = "" type="text" placeholder = "Type your text" />                 

            <fieldset >
                  <button type= 'submit'>Submit</button>
            </fieldset>
        </form>

        <p id=""></p>


        
    </div>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>
</html>