<!DOCTYPE html>
<html>
  <head>
       <%- include('../layout/head') %>
  </head>
<body>
  <header>
      <%- include('../layout/header') %>
  </header>

<main>

    <section>
      <div class = '' id="">
          <h1></h1>
            <p></p>
          <img>
      </div>
    </section>


    <section>
        <div class = '' id="">
            <h1></h1>
              <p></p>
            <img>
        </div>
      </section>
  
  </main>
  <footer>
      <%- include('../layout/footer') %>
  </footer>
</body>
</html>