<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bold Move</title>
</head>
<body>
  <h1>Bold Move</h1>
  <h3>~Menu~</h3>
  <ul>
  <!-- will need a forEach here to cycle through all the saved ones from the  returned list from Yelp-->
    <li>
      <!-- this will probably change base on what is in the object and these need to be updated with <% %> -->
      <section></section>
        <h4>Name</h4>
        <span>URL</span>
        <span>Rating</span>
        <span>Price</span>
      </section>
      <img> <!--image URL-->
      <form action="/add" method="post">
        <button type="submit">+</button>
      </form>
    </li>
  </ul>
</body>
</html>