<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bold Move</title>
</head>
<body>
  <h1>Bold Move</h1>
  <h3>~Menu~</h3>
  <ul>
    <%searchResults.forEach( yelp => {%>
      <li>
        <section></section>
          <h4><%= yelp.name %></h4>
          <span>URL</span>
            <p><%= yelp.url%></p>
          <span>Rating</span>
            <p><%= yelp.rating%></p>
          <span>Price</span>
            <p><%= yelp.price%></p>
        </section>
      <form action="/yelpAdd" method="post">
        <button type="submit">Save to your Yelp list</button>
      </form>
    </li>
    <% }) %>
  </ul>
</body>
</html>