/* this is styling for mobile view */
@media screen and (max-width: 767px) {
  form {
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: beige;
    margin: 0px auto;
  }

  section {
    display: center;
    width: 75%;
    border: 5px solid rgb(12, 1, 112);
    border-radius: 3px;
    background-color: beige;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
}

#yelpform {
  display: flex;
  justify-content: center;
}


#yelpform button {
  display: block;
  margin: 0px auto;
  margin-top: 5px;
}


/* this is styling for desktop views (960 and larger)  */

@media screen and (min-width: 768px) {
  form {
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
  }

  section {
    display: center;
    height: 350px;
    width: 60%;
    border: 5px solid rgb(12, 1, 112);
    border-radius: 3px;
    background-color: beige;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }

  #aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


