/* this is styling for mobile view */
@media screen and (max-width: 767px) {
  .topimg {
    height: 100px;
    width: 100%;
    opacity: .66;
    display: absolute;
    top: 0px;
    left: 0px;
    /* position: inline-block; */
  }

  #search-button {
    background-color: rgb(145, 143, 128);
    color: white;
    border-radius: 5px;
  }

  .menuButton {
    height: 40px;
    width: 80%;
    /* display: center; */
    background-color: rgb(145, 143, 128);
    color: white;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
    margin: 0 auto;
  }

  .generalButton {
    background-color: rgb(145, 143, 128);
    color: white;
    border-radius: 5px;
  }

  .yelpImg {
    width: 200px;
    height: 200px;
  }

  .yelpLabels {
    display: flex;
    flex-direction: row;
  }

  .yelpLabels span {
    width: 30%;
    margin-left: auto;
  }

  .yelpLabels p {
    width: 30%;
    margin-right: auto;
  }

  .weatherP {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .bioBox {
    display: center;
    height: 500px;
    width: 75%;
    border: 5px solid rgb(12, 1, 112);
    border-radius: 10px;
    background-color: beige;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }

  .bioBox img {
    width: 50%;
    height: 75%;
    padding-bottom: 20px;
  }

  .desktopMenuImg {
    height: 0px;
    width: 0px;
    /* just make sure it is hidden */
  }

  .weatherSection {
    height: 250px;
    width: 60%;
    border: 5px solid rgb(12, 1, 112);
    /* background-color: rgb(58, 58, 219); */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .weatherSection h4 {
    width: 100%;
    border-bottom: 1px solid rgb(12, 1, 112);
    height: 30px;
    padding: 4px;
    background-color: rgb(58, 58, 219);
  }
  .weatherSection h3 {
    /* display: center; */
    /* margin:auto; */
    font-weight: bold;
    width: 100%;
    font-size: 1.2em;
  }

  #weatherParagraph {
    width: 100%;
    height: 150px;
    padding: 25px;
    font-weight: bold;
    overflow: hidden;
  }

  #currencyDiv {
    margin-top: 15px;
    height: 100px;
    width: 60%;
    border: 5px solid rgb(12, 1, 112);
    /* background-color: rgb(58, 58, 219); */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  #currencyP {
    padding: 17px;
    height: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #currencyResultSpace {
    height: 20px;
    width: 75%;
    padding-top: 2px;
    /* padding: auto; */
    margin: 10px;
    text-align: center;
    background: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  #translateDiv {
    margin-top: 15px;
    height: 150px;
    width: 60%;
    border: 5px solid rgb(12, 1, 112);
    /* background-color: rgb(58, 58, 219); */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  #translatedSpace {
    height: 30px;
    width: 80%;
    padding-top: 5px;
    /* padding: auto; */
    margin: 10px;
    text-align: center;
    background: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
}

/* this is styling for tablet view */
/* @media screen and (min-width: 768px) and (max-width: 959px) {
  
} */

/* this is styling for desktop views (960 and larger)  */
/* this changes to @media screen and (min-width: 960px) { if we add in tablet */
@media screen and (min-width: 768px) {
  .topimg {
    height: 100px;
    width: 100%;
    opacity: .66;
  }

  #search-button {
    background-color: rgb(145, 143, 128);
    color: white;
    border-radius: 5px;
  }

  #menuButtonContainer {
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: inline-block; */
    margin: 0 auto;
  }

  .menuForms {
    width: 20%;
    height: 100px;;
    padding: 5px;
    margin: 20px;
  }

  .menuButton {
    height: 100px;
    width: 90%;
    /* display: center; */
    background-color: rgb(255, 171, 15);
    color: rgb(29, 28, 28);
    border-radius: 5px;
    /* float: left; */
    /* margin-left: auto;
    margin-right: auto; */
 
  }

  .desktopMenuImg {
    /* do things to unhide the image */
    height: 100px;
    width: 20%;
    padding: 5px;
    margin: 20px;
  }

  .generalButton {
    background-color: rgb(145, 143, 128);
    color: white;
    border-radius: 5px;
  }

  .yelpImg {
    width: 200px;
    height: 200px;
  }

  .yelpLabels {
    display: flex;
    flex-direction: row;
  }

  .yelpLabels span {
    width: 30%;
    margin-left: auto;
  }

  .yelpLabels p {
    width: 30%;
    margin-right: auto;
  }

  .weatherP {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .bioBox {
    /* display: center; */
    float: left;
    width: 40%;
    height: 350px;
    list-style-type: none;
    background-color: rgb(153, 191, 194);
    border-radius: 10px;
    box-shadow: 4px 5px 2px rgb(12, 1, 112);
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }

  .bioBox img {
    width: 50%;
    height: 250px;
    padding-bottom: 20px;
  }

  .weatherSection {
    margin-top: 15px;
    height: 250px;
    width: 60%;
    border: 5px solid rgb(12, 1, 112);
    /* background-color: rgb(58, 58, 219); */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .weatherSection h4 {
    width: 100%;
    border-bottom: 1px solid rgb(12, 1, 112);
    height: 30px;
    padding: 4px;
    background-color: rgb(58, 58, 219);
  }
  .weatherSection h3 {
    /* display: center; */
    /* margin:auto; */
    font-weight: bold;
    width: 100%;
    font-size: 1.2em;
  }

  #weatherParagraph {
    width: 100%;
    height: 150px;
    padding: 25px;
    font-weight: bold;
    overflow: hidden;
  }

  #currencyDiv {
    margin-top: 15px;
    height: 100px;
    width: 60%;
    border: 5px solid rgb(12, 1, 112);
    /* background-color: rgb(58, 58, 219); */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  #currencyP {
    padding: 17px;
    height: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #currencyResultSpace {
    height: 20px;
    width: 75%;
    padding-top: 2px;
    /* padding: auto; */
    margin: 10px;
    text-align: center;
    background: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  #translateDiv {
    margin-top: 15px;
    height: 150px;
    width: 60%;
    border: 5px solid rgb(12, 1, 112);
    /* background-color: rgb(58, 58, 219); */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  #translatedSpace {
    height: 30px;
    width: 80%;
    padding-top: 5px;
    /* padding: auto; */
    margin: 10px;
    text-align: center;
    background: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
}
