<div>
    <a href="#main-menu"
    class="menu-toggle"
    id="main-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
 </a>
<nav id="main-menu" class="main-menu">
<a href="" class="menu-close" id="main-menu-close">
<span></span>
</a>
<ul>
  <li><a href="/menu">Main Menu</a></li>
  <li><a href="/currency">Currency Convertor</a></li>
  <li><a href="/weather">Weather</a></li>
  <li><a href="/yelp">Explore Nearby</a></li>
  <li><a href="/translate">Translate</a></li>
  <li><a href="/">Search Location</a></li>
  <li><a href="/aboutus">About Us</a></li>
</ul>
</nav>
  <img class="topimg" src="../img/bagan-1137015_1280resize2.jpg">
  <h1>Bold Move</h1>
</div>
