<h1>Bold Move! </h1>

<nav>
  <ul>
    <li><a href="/menu">Home</a></li>
    <li><a href="/yelp">Food</a></li>
    <li><a href="/weather">Weather</a></li>
    <li><a href="/currency">Currency Convertor</a></li>
    <li><a href="/translate">Translate</a></li>
    <li><a href="/">New Location</a></li>
    <li><a href="/aboutus">About Team DJDB</a></li>
  </ul>
</nav>
