<a href=""
    class=""
    id="">
  <span></span>
  
</a>
<h1>Bold Move! </h1>


<nav>

  <a></a>
      
    <span ></span>
  </a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index">New Location</a></li>
    <li><a href="/menu">Main Menu</a></li>
    <li><a href="/yelp">Food</a></li>
    <li><a href="/weather">Weather</a></li>
    <li><a href="/currency">Currency Exchange</a></li>
    <li><a href="/translate"></a>Translate</li>
   
  </ul>
</div>
</nav>
