<a href=""
    class=""
    id="">
  <span></span>
  
</a>
<h1>Bold Move! </h1>


<nav>

  <a></a>
      
    <span ></span>
  </a>

  <ul>
    <li><a href="/">Home</a></li>
   
  </ul>
</div>
</nav>
