<a href="#main-menu"
    class="menu-toggle"
    id="main-menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  
</a>
<h1>Bold Move! </h1>


<nav id="main-menu"
      class="main-menu">

  <a href=""
      class="menu-close"
      id="main-menu-close">
      
    <span ></span>
  </a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/views/pages/index">New Location</a></li>
    <li><a href="/views/pages/currency">Currency Convertor</a></li>
    <li><a href="/views/pages/weather">Weather</a></li>
    <li><a href="/views/pages/yelp.ejs">Food</a></li>
    <li><a href="/views/pages/translate.ejs">Translate</a></li>
   
  </ul>
</div>
</nav>
