<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="/styles/reset.css" rel="stylesheet" type="text/css">
<link href="/styles/base.css" rel="stylesheet" type="text/css">
<link href="/styles/layout.css" rel="stylesheet" type="text/css">
<link href="/styles/modules.css" rel="stylesheet" type="text/css">
<link href="/styles/nav.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<title>Bold Move</title>