<a href=""
    class=""
    id="">
  <span></span>
  
</a>
<h1>Bold Move! </h1>


<nav>

  <a></a>
      
    <span ></span>
  </a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="pages/index">New Location</a></li>
    <li><a href="pages/yelp">Food</a></li>
    <li><a href="pages/weather">Weather</a></li>
    <li><a href="pages/currency">Currency Convertor</a></li>
    <li><a href="pages/translate">Translate</a></li>
   
  </ul>
</div>
</nav>
