<meta charset="utf-8" />
<title>Bold Move!</title>
<link href="/styles/reset.css" rel="stylesheet" type="text/css">
<link href="/styles/base.css" rel="stylesheet" type="text/css">
<link href="/styles/layout.css" rel="stylesheet" type="text/css">